<%- include('../../templates/header'); -%>
    <!-- Banner Area -->
    <div id="banner" class="banner style-2">
        <div class="banner-item banner-1 steller-parallax" data-stellar-background-ratio="0.5">
            <div class="banner-content">
                <div class="container justify-content-md-center">
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <h1 class="banner-title ">Edit Coche </h1>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <div class="col-md-5 col-xs-12">
                                    <form action="/coches/update" class="contact-form" method="post">
                                        <input type="hidden" name="id" value="<%= coche.id %> " required>
                                        <label for="matricula">matricula</label>
                                        <input type="text" name="matricula" id="" value="<%= coche.matricula %> " required>
                                        <label for="no_motor">Numero de motor</label>
                                        <input type="text" name="no_motor" id="no_motor" value="<%= coche.no_motor %> " required>
                                        <label for="id_modelo">Modelo</label>
                                        <select class="form-control form-control-lg" name="id_modelo" id="id_modelo" required>
                                        <% for (let i = 0; i < modelo.length; i++) {
                                            console.log(modelo[i]);
                                            console.log();
                                            if(modelo[i].id == coche.id_modelo){%>
                                                <option value="<%= modelo[i].id %>" selected><%= modelo[i].marca%> | <%= modelo[i].modelo%> <%= modelo[i].anio%></option>
                                            <%}else{%>
                                                <option value="<%= modelo[i].id %>" ><%= modelo[i].marca%> | <%= modelo[i].modelo%> <%= modelo[i].anio%></option>
                                            <%}
                                            %>


                                            <% } %>

                                                </select>
                                        <input type="submit" value="actualizar">
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <%- include('../../templates/footer'); -%>