<%- include('../../templates/header'); -%>
    <!-- Banner Area -->
    <div id="banner" class="banner style-2">
        <div class="banner-item banner-1 steller-parallax" data-stellar-background-ratio="0.5">
            <div class="banner-content">
                <div class="container justify-content-md-center">
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <h1 class="banner-title ">Edit Coche </h1>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <div class="col-md-5 col-xs-12">
                                    <form action="/puestos/update" class="contact-form" method="post">
                                        <input type="hidden" name="id" value="<%= puestos.id %> ">
                                        <label for="nombre">nombre</label>
                                        <input type="text" value="<%= puestos.nombre %> " name="nombre" id="nombre" required>
                                        <label for="descripcion">descripcion</label>
                                        <input type="text" value="<%= puestos.descripcion %>" name="descripcion" id="descripcion" required>
                                        <input type="submit" value="ACTUALIZAR">
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <%- include('../../templates/footer'); -%>