<%- include('../../templates/header'); -%>
    <!-- Banner Area -->
    <div id="banner" class="banner style-2">
        <div class="banner-item banner-1 steller-parallax" data-stellar-background-ratio="0.5">
            <div class="banner-content">
                <div class="container justify-content-md-center">
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <h1 class="banner-title ">Edit Venta</h1>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <div class="col-md-5 col-xs-12">
                                    <form action="/ventas/update" class="contact-form" method="post">
                                        <input type="hidden" name="id" value="<%= venta.id %> " required>

                                        <label for="fecha">fecha</label>
                                        <input type="date" name="fecha" id="fecha" value="<%= venta.fecha %> " required>

                                        <label for="id_coche">Coche</label>
                                        <select class="form-control form-control-lg" name="id_coche" id="id_coche" required>
                                        <% for (let i = 0; i < coches_venta.length; i++) {
                                            console.log(coches_venta[i]);
                                            console.log();
                                            if(coches_venta[i].id == venta.id_coche){%>
                                                <option value="<%= coches_venta[i].id %>" selected><%= coches_venta[i].id_modelo%> | <%= coches_venta[i].estado%> <%= coches_venta[i].estado%> <%= coches_venta[i].precio%></option>
                                            <%}else{%>
                                                <option value="<%= coches_venta[i].id %>" ><%= coches_venta[i].id_modelo%> | <%= coches_venta[i].estado%> <%= coches_venta[i].estado%> <%= coches_venta[i].precio%></option>
                                            <%}
                                            %>
                                            <% } %>
                                                </select>
                                            
                                                <label for="id_vendedor">Vendedor</label>
                                        <select class="form-control form-control-lg" name="id_vendedor" id="id_vendedor" required>
                                        <% for (let i = 0; i < empleados.length; i++) {
                                            console.log(empleados[i]);
                                            console.log();
                                            if(empleados[i].id == venta.id_vendedor){%>
                                                <option value="<%= empleados[i].id %>" selected><%= empleados[i].nombre%> | <%= empleados[i].apellido_pat%> <%= empleados[i].apellido_mat%></option>
                                            <%}else{%>
                                                <option value="<%= empleados[i].id %>" ><%= empleados[i].nombre%> | <%= empleados[i].apellido_pat%> <%= empleados[i].apellido_mat%></option>
                                            <%}
                                            %>
                                            <% } %>
                                                </select>

                                                <label for="id_cliente">Cliente</label>
                                        <select class="form-control form-control-lg" name="id_cliente" id="id_cliente" required>
                                        <% for (let i = 0; i < clientes.length; i++) {
                                            console.log(clientes[i]);
                                            console.log();
                                            if(clientes[i].id == venta.id_cliente){%>
                                                <option value="<%= clientes[i].id %>" selected><%= clientes[i].nombre%> | <%= clientes[i].apellido_pat%> <%= clientes[i].apellido_mat%></option>
                                            <%}else{%>
                                                <option value="<%= clientes[i].id %>" ><%= clientes[i].nombre%> | <%= clientes[i].apellido_pat%> <%= clientes[i].apellido_mat%></option>
                                            <%}
                                            %>
                                            <% } %>
                                                </select>

                                        <label for="estado_logico>">Estado logico</label>
                                        <select class="form-control form-control-lg" name="estado_logico" id="estado_logico" required>
                                            <option>1</option>
                                            <option>0</option>
                                        </select>

                                        <input type="submit" value="actualizar">
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <%- include('../../templates/footer'); -%>