<%- include('../../templates/header'); -%>
    <!-- Banner Area -->
    <div id="banner" class="banner style-2">
        <div class="banner-item banner-1 steller-parallax" data-stellar-background-ratio="0.5">
            <div class="banner-content">
                <div class="container justify-content-md-center">
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <h1 class="banner-title ">Edit Empleado </h1>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="banner-text-content text-center wow fadeInUp" data-wow-duration="1.5s">
                                <div class="col-md-5 col-xs-12">
                                    <form action="/empleados/create" class="contact-form" method="post" style="margin-bottom: 50em;">
                                        <input type="hidden" name="id" value="<%= data.id %>" required>

                                        <label for="nombre">nombre</label>
                                        <input type="text" name="nombre" id="" value="<%= data.nombre %> " required>

                                        <label for="apellido_pat">Apellido Paterno</label>
                                        <input type="text" name="apellido_pat" id="apellido_pat" value="<%= data.apellido_pat %>" required>

                                        <label for="apellido_mat">Apellido Materno</label>
                                        <input type="text" name="apellido_mat" id="apellido_mat" value="<%= data.apellido_mat %>" required>

                                        <label for="contratacion">Contratacion</label>
                                        <input type="date" name="contratacion" id="contratacion" value="<%= day %>" required>

                                        <label for="salario">Salario</label>
                                        <input type="int" name="salario" id="salario" value="<%= data.salario %>" required>

                                        <label for="id_puesto">Puesto</label>
                                        <select class="form-control form-control-lg" name="id_puesto" id="id_puesto" required>
                                        <% for (let i = 0; i < puestos.length; i++) {%>
                                            <option value="<%= puestos[i].id%>"><%= puestos[i].nombre%></option>
                                            



                                            <% } %>

                                                </select>
                                        <label for="estado_logico">Estado logico</label>
                                        <select class="form-control form-control-lg" name="estado_logico" id="estado_logico" required>
                                                    <option>1</option>
                                                    <option>0</option>
                                                </select>
                                        <input type="submit" value="ACTUALIZAR">
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <%- include('../../templates/footer'); -%>